@model EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels.VersionViewModel
<div class="">
	<div class="column">
		<h3>Plugin version: @Model.PluginVersion</h3>
		<h3>Sdk version: @Model.SdkVersion </h3>
	</div>
</div>